<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-CDVNavBar"
    version="2.5.0">
    <name>CDVNavBar</name>
    <description>Cordova NavigationBar Plugin</description>
    <license>MIT</license>
    <keywords>cordova,tabbar,ios,drawer</keywords>
    <repo>https://github.com/Emadello/cordova-plugin-CDVNavBar.git</repo>
    <issue>https://github.com/Emadello/cordova-plugin-CDVNavBar/issues</issue>

    <js-module src="www/NavBar.js" name="NavBar">
        <clobbers target="navbar" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="NavBar">
                <param name="ios-package" value="NavigationBar"/>
            </feature>
        </config-file>

        <header-file src="src/ios/NavigationBar.h" />
        <source-file src="src/ios/NavigationBar.m" />
        <header-file src="src/ios/MMTableViewCell.h" />
        <source-file src="src/ios/MMTableViewCell.m" />
        <header-file src="src/ios/NavigationBarTableViewCell.h" />
        <source-file src="src/ios/NavigationBarTableViewCell.m" />
        <header-file src="src/ios/CDVNavigationBarController.h" />
        <source-file src="src/ios/CDVNavigationBarController.m" />
        <source-file src="src/ios/CDVNavigationBar.xib" />
    </platform>
</plugin>
